@model List<Apartmani.Web.Models.VisitorGroup>

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-heading">
    <div class="row">
        <div class="col-xs-8">
            <h2>Pregled gostiju</h2>
        </div>
        <div class="col-xs-4 text-right">
            <a href="@Url.Action("Create")" style="margin-top: 20px;" class="btn btn-success">Dodaj novu grupu</a>
        </div>
    </div>
</div>


<div id="filter-form-wrapper"></div>

@Html.Partial("_IndexTable")


@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
        $(function () {
            $.ajax({
                url: "@Url.Action("FilterForm")",
                method: "GET",
                success: function (html) {
                    $("#filter-form-wrapper").html(html);
                }
            });
        });

        function performFilter(sender) {
            $.ajax({
                url: $(sender).closest('form').attr("action"),
                method: "POST",
                data: $(sender).closest('form').serialize(),
                success: function (html) {
                    $("#visitor-groups-table").replaceWith(html);
                }
            })
    }


</script>


}
