@model Apartmani.Web.Models.Visitor

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.Partial("_CreateOrEdit")
}

<div>
    @Html.ActionLink("Back to Group", "Details", new { id = Model.VisitorGroupID, controller = "VisitorGroups" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

    </script>
}
